.search-bar{
  margin: 20px;
  padding: 0%;
  text-align: left;
  color:rgb(201, 1, 28);
}

.search-bar input{
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
}

.video-item img{
  max-width: 100px;
}

.video-detail .details{
  margin-top: 10px;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  color:rgb(0, 0, 0);
}

.list-group-item{
  cursor: pointer;
}

.list-group-item:hover{
  background-color: rgb(179, 73, 73);
  color:white;
}